@font-face {
    font-family: 'Chirp';
    src: url("/Chirp-Font-X-Twitter-main/Chirp Regular.woff") format("woff");
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chirp";
}

body {
    background: #000;
    color: #fff;
    min-height: 100vh;
   
}

.dashboard, nav {
    width: 600px;
    max-width: 600px;
    margin: 0 auto;
}

.nav {
    display: flex;
    border-bottom: 1px solid #7f7f7f;
    justify-content: space-between;
    padding: 20px;

}

.nav a {
    text-decoration: none;
    color: #fff;
}

.nav a:hover {
    border-bottom:3px solid rgb(33, 215, 239);
    padding-bottom: 10px;
}

.nav:has(a:hover) a.active:not(:hover) {
    border-bottom: 3px solid transparent;
}

.nav a.active {
    border-bottom:3px solid rgb(33, 215, 239);
    padding-bottom: 10px;
}

.input-container {
    border-bottom: 1px solid #7f7f7f;
    padding: 20px 15px;
}

.input-content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}




.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#input-box {
    flex: 1;
    resize: none;
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    color: #fff;
}

.tweet-image-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tweet-img {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.img-preview img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.input-icons {
    display:  flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    gap: 15px;
    font-size: 18px;
}

#file-input {
    display: none;
}

.post-btn {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background: #adadad;
    cursor: pointer;
}

.post-btn:hover {
    background: #9d9c9c;
}

label {
    cursor: pointer;
}

.icons a
{
    text-decoration: none;
    color: #fff;
}



.fa-circle-check {
    color: yellow;
}

.tweet-header {
    display: flex;
    gap: 10px;
}

.user-info {
    display: flex;
    gap: 5px;
    align-items: center;
}

.feed-pic {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.user-info span {
    color: #adadad;
}

.tweet-content {
    border-bottom: 1px solid #616161;
    padding: 20px 15px;
    margin-bottom: 20px;
}

.tweet-txt-info {
    margin-top: 8px;
}

.tweet-interactions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    color: #b7b7b7;
    padding: 0 10px;
}

.tweet-interactions span {
    cursor: pointer;
}


.liked {
    color: red;
}

.retweet {
    color: green
}