@font-face {
    font-family: 'Chirp';
    src: url(/Chirp-Font-X-Twitter-main/Chirp\ Regular.woff);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chirp";
}

body {
    background: #000;
    color: #fff;
    min-height: 100vh;
    width: 600;
    max-width: 600;
}
.nav {
    display: flex;
    border-bottom: 1px solid #7f7f7f;
    justify-content: space-between;
    padding: 20px;

}

.nav a {
    text-decoration: none;
    color: #fff;
}

.nav a:hover {
    border-bottom:3px solid rgb(33, 215, 239);
    padding-bottom: 10px;
}

.nav:has(a:hover) a.active {
    border-bottom: transparent;
}

.nav a.active {
    border-bottom:3px solid rgb(33, 215, 239);
    padding-bottom: 10px;
}

.input-container {
    border-bottom: 1px solid #7f7f7f;
    padding: 20px 15px;
}

.input-content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#input-box {
    flex: 1;
    resize: none;
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    color: #fff;
}

.input-icons {
    display:  flex;
    justify-content: space-between;
    align-items: center;
}

#file-input {
    display: none;
}

.post-btn {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background: #adadad;
    cursor: pointer;
}

label {
    cursor: pointer;
}

.emoji-icons
{
    text-decoration: none;
    color: #fff;
}